body{
    color: white;
    background-color: black;
}

.en_tete{
    display: flex;
    justify-content: space-between;
    
}
.en_tete h1{
    margin: 2% 2% 2% 2%;
}

.navigateur{
    margin-right: 60%;
}

.navigateur ul{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li a{
    text-decoration: none;
}
h1{
    color: red;
}
a h2{
    color: white;
}

#accueil{
    width: 40%;
    
}
#categories{
    width: 40%;
}

#meilleur_film_section{
    display: flex;
    justify-content: space-between;
}

#meilleur_film_infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}




.sept_meilleurs_films{
    background-color: coral;
}

.premiere_categorie{
    background-color: darkgray;
}

.deuxieme_categorie{
    background-color: darkmagenta;
}

.troisieme_categorie{
    background-color: chocolate;
}