body{
    color: white;
    background-color: black;
}

.en_tete{
    display: flex;
    justify-content: space-between;
    
}
.en_tete h1{
    margin: 2% 2% 2% 2%;
}

.navigateur{
    margin-right: 60%;
}

.navigateur ul{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li a{
    text-decoration: none;
}
h1{
    color: red;
}
a h2{
    color: white;
}

#accueil{
    width: 40%;
    
}
#categories{
    width: 40%;
}

#meilleur_film_section{
    display: flex;
    justify-content: space-between;
}

#meilleur_film_infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}

.carousel_sept_meilleurs_films {
    margin-left: 10px;
    display: flex;
    width: 130%;
}

#contenu_carousel_sept_meilleurs_films {
        overflow: hidden;
        height: 200%;
        width: 200%;
        display: flex;
        transform: translate(-20%);
        /* transform: translate3d(40%, 0, 0);  */
    }
    
    
.slide {
        margin-left: 20px;
        width: 700px;
        height: 400px;      
  }

img{
    width: 100%;
    height: 100%;
}

.carousel_premiere_categorie{
    margin-left: 10px;
    display: flex;
}

#contenu_carousel_premiere_categorie{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    /* transform: translate3d(80%, 0, 0); */


}
.carousel_deuxieme_categorie{
    margin-left: 10px;
    display: flex;
}

#contenu_carousel_deuxieme_categorie{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    /* transform: translate3d(80%, 0, 0); */


}
.carousel_troisieme_categorie{
    margin-left: 10px;
    display: flex;
}

#contenu_carousel_troisieme_categorie{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    /* transform: translate3d(80%, 0, 0); */


}

.bouton-prev{
    margin-top: 80px;
    border-radius: 50%;
    right: auto;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -10px;
}
.bouton-next{
    margin-top: 80px;
    border-radius: 50%;
    left: auto;
    right: -10px;
    width: 80px;
    height: 80px;
    position: absolute;
}